@import url(https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css);
button.clicked {
    background-color: red; 
  }
.card:hover{
    transform: scale(1.04);
    cursor: pointer;
    }
.center-button {
    position: fixed;
    bottom: 0;
    margin-left: 30%;
    height: 80px;
    width: 700px;
    }
table{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}